@(name:String,pass:String,check:String,radio:String,select:String, area:String,date:String,num:String, inputData:Form[Application.InputData])

@main("Sample Froms") {

	<h1>Hello, Form!</h1>

	<p>これは、サンプルで作ったページです。</p>
	<p>@name@pass@check@radio@select@area@date@num</p>
	@helper.form(action = routes.Application.send) {
	@(helper.inputText(inputData("name"),args = '_label -> "あたなの名前",'_help->"入力必須"))
	@(helper.inputPassword(inputData("passward"),'_label -> "パスワード"))
	@(helper.checkbox(inputData("check")))
	@(helper.inputRadioGroup(inputData("radio"),options = Seq("windows"->"MS-Windows","mac"->"Mac OS X","linux"->"Linux")))
	@(helper.select(inputData("select"),helper.options(("jp","日本"),("us","アメリカ"),("uk","イギリス")),'size -> "3"))
	@(helper.textarea(inputData("area"),'cols->50))
	@(helper.inputDate(inputData("date"),'placeholder->"1999-01-11"))
	@(helper.inputText(inputData("num"),args = '_label->"inputNum",'type->"number",'size->10,'min->10,'max->100))
	<input type = "submit">
	}

}
